Repository ueckoken/plarail2022, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, external, positioning, speed, ats, multicaster, momo_sender, skyway_receiver, site, ci-cd, documentation

add wakabadai map
  docs/chofufes2022-map.jpg
  docs/chofufes2022-map.pdf
  docs/map.md
Labels: documentation

use set instead of list
  backend/multicaster/one_to_multiple_cast_skyway.py
Labels: multicaster

covert momo_sender to TypeScript
  frontend/momo_sender/index.html
  frontend/momo_sender/index.js
  frontend/momo_sender/index.ts
  frontend/momo_sender/package-lock.json
  frontend/momo_sender/package.json
  frontend/momo_sender/tsconfig.json
  frontend/momo_sender/webpack.config.js
Labels: momo_sender

use unprivileged nginx
  frontend/momo_sender/Dockerfile
  frontend/skyway_receiver/Dockerfile
  manifests/manifests/receiver-test/service.yaml
  manifests/manifests/webrtc-sender/service.yaml
Labels: momo_sender, skyway_receiver, ci-cd

fix not sending connect_receiver
  backend/multicaster/one_to_multiple_cast_skyway.py
Labels: multicaster

add tests and envfiles
  backend/ats/src/ATS.ts
Labels: ats

アーキテクチャに関するドキュメントを追加
  docs/archtecture.md
  docs/blocks.md
  docs/system archtecture(draft).jpg
Labels: documentation

block用のproto fileを追加
  backend/proto/block.proto
Labels: none

Jetの追加
  backend/ats/jest.config.json
  backend/ats/package.json
  backend/ats/tsconfig.json
  backend/ats/yarn.lock
Labels: ats

grpcのテスト
  backend/ats/src/client_test.ts
  backend/ats/src/server.ts
Labels: ats

Blockの型定義を追加
  backend/ats/types/Block.d.ts
Labels: ats

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/block_grpc_pb.d.ts
  backend/ats/spec/block_grpc_pb.js
  backend/ats/spec/block_pb.d.ts
  backend/ats/spec/block_pb.js
Labels: none

Change station name and number
  backend/proto/statesync.proto
Labels: none

re-push
  backend/proto/statesync.proto
Labels: none

delete duplicate station ID
  backend/proto/statesync.proto
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/statesync_pb.d.ts
  backend/ats/spec/statesync_pb.js
  backend/external/spec/statesync.pb.go
  backend/internal/spec/statesync.pb.go
  backend/positioning/spec/statesync.pb.go
Labels: none

use compose v2
  backend/Makefile
Labels: none

fix tset
  backend/external/pkg/syncController/validate_test.go
Labels: external

added Hole Sensor number
  backend/proto/ats.proto
Labels: none

add block config
  backend/ats/__tests__/test.ts
  backend/ats/package.json
  backend/ats/src/BlockSystem.ts
  backend/ats/src/config/blockRule.yaml
  backend/ats/tsconfig.json
  backend/ats/types/BlockRule.d.ts
  backend/ats/yarn.lock
Labels: ats

add blocks for stations
  backend/proto/block.proto
  docs/blocks.md
Labels: documentation

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/block_pb.d.ts
  backend/ats/spec/block_pb.js
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/ats_pb.d.ts
  backend/ats/spec/ats_pb.js
Labels: none

add test from getBLockId
  backend/ats/src/PointValidator.ts
Labels: ats

add BlockSystem
  backend/ats/__tests__/BlockSystem.test.ts
  backend/ats/__tests__/test.ts
  backend/ats/src/ATS.ts
  backend/ats/src/BlockSystem.ts
  backend/ats/src/PointValidator.ts
  backend/ats/src/client_test.ts
  backend/ats/src/config/blockRule.yaml
  backend/ats/src/config/pointPattern.yaml
  backend/ats/src/config/pointRule.yaml
  backend/ats/src/server.ts
  backend/ats/types/Point.d.ts
Labels: ats

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/ats_pb.d.ts
  backend/ats/spec/ats_pb.js
Labels: none

fix block Proto
  backend/ats/__tests__/BlockSystem.test.ts
  backend/ats/src/BlockSystem.ts
  backend/ats/types/Block.d.ts
  backend/ats/types/Point.d.ts
  backend/proto/block.proto
Labels: ats

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/block_pb.d.ts
  backend/ats/spec/block_pb.js
Labels: none

rename non-intuitive names
  backend/multicaster/one_to_multiple_cast_skyway.py
Labels: multicaster

Added SkyWay, ESP-EYE code #7
  frontend/camera_server/receiver.html
  frontend/camera_server/sender.html
  hardware/esp32-cam-mjpeg/LICENSE.txt
  hardware/esp32-cam-mjpeg/OV2640.cpp
  hardware/esp32-cam-mjpeg/OV2640.h
  hardware/esp32-cam-mjpeg/camera_pins.h
  hardware/esp32-cam-mjpeg/esp32_camera_mjpeg.ino
Labels: none

test connect_sender and connect_receiver
  backend/multicaster/test_one_to_multiple_cast_skyway.py
Labels: multicaster

run unittest on GitHub Actions
  .github/workflows/test-multicaster.yml
Labels: ci-cd

delete room_id in place
  backend/multicaster/one_to_multiple_cast_skyway.py
Labels: multicaster

improve tests
  backend/multicaster/test_one_to_multiple_cast_skyway.py
Labels: multicaster

format by black
  backend/multicaster/test_one_to_multiple_cast_skyway.py
Labels: multicaster

fix tests
  backend/ats/__tests__/BlockSystem.test.ts
  backend/ats/src/BlockSystem.ts
  backend/ats/tsconfig.json
Labels: ats

add capture test
  frontend/camera_server/test.html
Labels: none

CORS周りの問題を修正
  frontend/camera_server/receiver.html
  frontend/camera_server/sender.html
Labels: none

add readme
  backend/json2grpc/readme.md
Labels: none

compile protobuf for golang
  backend/Makefile
Labels: none

.github/labeler.yml:

internal:
  - any:
      - backend/internal/**
      - "!backend/internal/spec/**"
external:
  - any:
      - backend/external/**
      - "!backend/external/spec/**"
positioning:
  - any:
      - "backend/positioning/**"
      - "!backend/positioning/spec/**"
speed:
  - any:
      - "backend/speed/**"
      - "!backend/speed/spec/**"
ats:
  - any:
    - "backend/ats/**"
    - "!backend/ats/spec/**"
multicaster:
  - any:
      - "backend/multicaster/**"
momo_sender:
  - any:
      - "frontend/momo_sender/**"
skyway_receiver:
  - any:
      - "frontend/skyway_receiver/**"
site:
  - any:
      - "frontend/site/**"
ci-cd:
  - .github/**/*
  - manifests/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"
