Repository ueckoken/plarail2022, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, external, positioning, speed, ats, multicaster, momo_sender, site, ci-cd, documentation

.github/labeler.yml:

internal:
  - any:
      - backend/internal/**
      - "!backend/internal/spec/**"
external:
  - any:
      - backend/external/**
      - "!backend/external/spec/**"
positioning:
  - any:
      - "backend/positioning/**"
      - "!backend/positioning/spec/**"
speed:
  - any:
      - "backend/speed/**"
      - "!backend/speed/spec/**"
ats:
  - any:
    - "backend/ats/**"
    - "!backend/ats/spec/**"
multicaster:
  - any:
      - "backend/multicaster/**"
momo_sender:
  - any:
      - "frontend/momo_sender/**"
site:
  - any:
      - "frontend/site/**"
ci-cd:
  - .github/**/*
  - manifests/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"

add annotation
  manifests/manifests/auto-operation/ingress.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-logviewer:cbec37a-1668760738 ghcr.io/ueckoken/plarail2022-frontend-python:cbec37a-1668760738
  manifests/manifests/logviewer/deployment.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-auto-operation:cbec37a-1668760738 ghcr.io/ueckoken/plarail2022-webrtc-sender:cbec37a-1668760738
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-receiver-test:cbec37a-1668760738
  manifests/manifests/receiver-test/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-json2grpc:cbec37a-1668760738
  manifests/manifests/internal/json2grpc/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-external:cbec37a-1668760738
  manifests/manifests/external/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-internal:cbec37a-1668760738
  manifests/manifests/internal/internal/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-positioning:cbec37a-1668760738
  manifests/manifests/positioning/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-frontend:cbec37a-1668760738
  manifests/manifests/frontend/deployment.yaml
Labels: ci-cd

use already issued certificate
  manifests/manifests/auto-operation/ingress.yaml
Labels: ci-cd

add secure
  backend/auto_operation/Connection.py
  backend/auto_operation/gRPCTestClient.py
  backend/auto_operation/requirements.txt
Labels: none

use already issued certificate
  manifests/manifests/auto-operation/ingress.yaml
Labels: ci-cd

format by black
  backend/auto_operation/Connection.py
  backend/auto_operation/gRPCTestClient.py
Labels: none

Revert "add secure"
  backend/auto_operation/Connection.py
  backend/auto_operation/gRPCTestClient.py
  backend/auto_operation/requirements.txt
Labels: none

format by black
  backend/auto_operation/Connection.py
  backend/auto_operation/gRPCTestClient.py
Labels: none

fix external target site
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/external/service.yaml
Labels: ci-cd

remove unsed one
  backend/auto_operation/Connection.py
  backend/auto_operation/gRTCTestServer.py
Labels: none

format by black
  backend/auto_operation/Connection.py
  backend/auto_operation/gRPCTestClient.py
Labels: none

fix unsed
  backend/auto_operation/gRPCTestClient.py
Labels: none

use secure transport for json2grpc
  backend/json2grpc/main.go
Labels: none

specificate tls minimum version
  backend/json2grpc/main.go
Labels: none

fix
  backend/auto_operation/gRPCTestClient.py
Labels: none

fix
  backend/auto_operation/gRPCTestClient.py
Labels: none

format by black
  backend/auto_operation/gRPCTestClient.py
Labels: none

ghcr.io/ueckoken/plarail2022-frontend:92d3ee2-1668767626
  manifests/manifests/frontend/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-frontend-python:92d3ee2-1668767626
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-auto-operation:92d3ee2-1668767626 ghcr.io/ueckoken/plarail2022-webrtc-sender:92d3ee2-1668767626
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-receiver-test:92d3ee2-1668767626
  manifests/manifests/receiver-test/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-json2grpc:92d3ee2-1668767626
  manifests/manifests/internal/json2grpc/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-internal:92d3ee2-1668767626
  manifests/manifests/internal/internal/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-positioning:92d3ee2-1668767626
  manifests/manifests/positioning/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-external:92d3ee2-1668767626 ghcr.io/ueckoken/plarail2022-logviewer:92d3ee2-1668767626
  manifests/manifests/external/deployment.yaml
  manifests/manifests/logviewer/deployment.yaml
Labels: ci-cd

fix internal endpoint
  manifests/manifests/external/env.yaml
Labels: ci-cd

update
  frontend/site/pages/index.tsx
  frontend/site/types/control-messages.ts
Labels: site

format by prettier
  frontend/site/pages/index.tsx
  frontend/site/types/control-messages.ts
Labels: site

fix
  manifests/manifests/external/env.yaml
Labels: ci-cd

remove use of junction.servoId
  backend/auto_operation/State.py
Labels: none

delete buffer
  backend/external/internal/root.go
  backend/external/pkg/httphandler/httphandler.go
Labels: external

fix block
  frontend/site/pages/index.tsx
  frontend/site/types/control-messages.ts
Labels: site

ghcr.io/ueckoken/plarail2022-logviewer:3eb3046-1668770474
  manifests/manifests/logviewer/deployment.yaml
Labels: ci-cd
