Repository ueckoken/plarail2022, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, external, positioning, speed, ats, multicaster, momo_sender, site, ci-cd, documentation

.github/labeler.yml:

internal:
  - any:
      - backend/internal/**
      - "!backend/internal/spec/**"
external:
  - any:
      - backend/external/**
      - "!backend/external/spec/**"
positioning:
  - any:
      - "backend/positioning/**"
      - "!backend/positioning/spec/**"
speed:
  - any:
      - "backend/speed/**"
      - "!backend/speed/spec/**"
ats:
  - any:
    - "backend/ats/**"
    - "!backend/ats/spec/**"
multicaster:
  - any:
      - "backend/multicaster/**"
momo_sender:
  - any:
      - "frontend/momo_sender/**"
site:
  - any:
      - "frontend/site/**"
ci-cd:
  - .github/**/*
  - manifests/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"

add auth middleware
  manifests/infra/traefik/oauth2-proxy-verify.yaml
Labels: ci-cd

chofufes2022.ueckoken.club にoauth2を追加
  manifests/infra/traefik/oauth2-proxy-verify.yaml
  manifests/manifests/frontend/ingressroute.yaml
Labels: ci-cd

stop too frequent re-rendering
  frontend/site/pages/index.tsx
Labels: site

dont use sakurajosui_b1 (use b2 and b4)
  backend/auto_operation/DiaPlanner.py
Labels: none

add ip address white list
  manifests/infra/traefik/ipwhitelist.yaml
  manifests/manifests/frontend/ingressroute.yaml
Labels: ci-cd

update auto_operation visualizer
  debug/auto_operation_visualizer/pages/index.tsx
Labels: none

json2grpc deployment
  manifests/imageautomation/json2grpc/imagepolicy.yaml
  manifests/imageautomation/json2grpc/kustomization.yaml
  manifests/imageautomation/json2grpc/repository.yaml
  manifests/imageautomation/kustomization.yaml
  manifests/manifests/json2grpc/deployment.yaml
  manifests/manifests/json2grpc/ingressroute.yaml
  manifests/manifests/json2grpc/kustomization.yaml
  manifests/manifests/json2grpc/service.yaml
  manifests/manifests/kustomization.yaml
Labels: ci-cd

fix manifests
  manifests/manifests/internal/internal/deployment.yaml
  manifests/manifests/internal/internal/kustomization.yaml
  manifests/manifests/internal/internal/service.yaml
  manifests/manifests/internal/json2grpc/deployment.yaml
  manifests/manifests/internal/json2grpc/kustomization.yaml
  manifests/manifests/internal/json2grpc/service.yaml
  manifests/manifests/internal/kustomization.yaml
  manifests/manifests/json2grpc/ingressroute.yaml
  manifests/manifests/kustomization.yaml
Labels: ci-cd

fix kustomization
  manifests/manifests/kustomization.yaml
Labels: ci-cd

fix
  manifests/manifests/kustomization.yaml
Labels: ci-cd

use sakurajosui_b3 instead of sakurajosui_b4
  backend/auto_operation/DiaPlanner.py
  backend/auto_operation/State.py
Labels: none

Implemented pointrails
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
Labels: internal

fix merge miss
  backend/external/internal/root.go
  backend/external/pkg/envStore/envStore.go
Labels: external

fix
  backend/external/internal/root.go
Labels: external

fix channel buffer
  backend/external/internal/root.go
Labels: external

fix arg
  backend/external/internal/root.go
Labels: external

fix
  backend/external/internal/grpc.go
Labels: external

add unused ingressroute
  manifests/manifests/internal/json2grpc/kustomization.yaml
Labels: ci-cd

use k3s service lb
  manifests/manifests/internal/internal/service.yaml
  manifests/manifests/internal/json2grpc/service.yaml
Labels: ci-cd

fix grpc endpoint
  manifests/manifests/internal/json2grpc/deployment.yaml
Labels: ci-cd

fixed unused one
  frontend/site/pages/index.tsx
Labels: site

fix manifests
  manifests/manifests/frontend/ingressroute.yaml
Labels: ci-cd

add serve grpc server
  backend/auto_operation/main.py
Labels: none

format by black
  backend/auto_operation/main.py
Labels: none

fix manifests
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/auto-operation/ingressroute.yaml
  manifests/manifests/auto-operation/service.yaml
Labels: ci-cd

add auto operation manifests
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/auto-operation/ingressroute.yaml
  manifests/manifests/auto-operation/service.yaml
Labels: ci-cd

fix
  manifests/manifests/auto-operation/deployment.yaml
Labels: ci-cd

fix service name
  manifests/manifests/auto-operation/deployment.yaml
Labels: ci-cd

delete ip address range block
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/auto-operation/ingressroute.yaml
  manifests/manifests/frontend/ingressroute.yaml
Labels: ci-cd

fix log level
  manifests/infra/helm/nginx/release.yaml
Labels: ci-cd

add access log
  manifests/infra/helm/nginx/release.yaml
  manifests/infra/helm/traefik/release.yaml
Labels: ci-cd

fix
  manifests/infra/helm/nginx/release.yaml
Labels: ci-cd

enable ingress nginx
  manifests/infra/helm/kustomization.yaml
Labels: ci-cd

add ingress nginx
  manifests/manifests/auto-operation/ingress.yaml
  manifests/manifests/auto-operation/kustomization.yaml
Labels: ci-cd

fix
  manifests/manifests/auto-operation/ingress.yaml
Labels: ci-cd

add static ip of esp32
  hardware/plarail_detection/hallsensor-chofu/hallsensor-chofu.ino
  hardware/plarail_detection/hallsensor-hachioji/hallsensor-hachioji.ino
  hardware/plarail_detection/hallsensor-hashimoto/hallsensor-hashimoto.ino
  hardware/plarail_detection/hallsensor-sakurajosui/hallsensor-sakurajosui.ino
  hardware/plarail_detection/hallsensor-shinjuku/hallsensor-shinjuku.ino
Labels: none

nginx ingress terminated
  backend/auto_operation/gRPCTestClient.py
  manifests/manifests/auto-operation/ingress.yaml
Labels: ci-cd

fix
  manifests/manifests/auto-operation/ingress.yaml
Labels: ci-cd

fix
  manifests/manifests/auto-operation/deployment.yaml
Labels: ci-cd

Revert "fix"
  manifests/manifests/auto-operation/deployment.yaml
Labels: ci-cd
