Repository ueckoken/plarail2022, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, external, positioning, speed, ats, multicaster, momo_sender, skyway_receiver, site, ci-cd, documentation

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/statesync_pb.d.ts
  backend/ats/spec/statesync_pb.js
  backend/auto_operation/spec/statesync_pb2.py
  backend/external/spec/statesync.pb.go
  backend/internal/spec/statesync.pb.go
  backend/json2grpc/ats.pb.go
  backend/json2grpc/spec/ats_grpc.pb.go
  backend/positioning/spec/statesync.pb.go
Labels: none

delete GET
  backend/json2grpc/main.go
Labels: none

delete grpcserver/
  backend/json2grpc/grpcserver/main.go
Labels: none

add .gitignore
  backend/json2grpc/.gitignore
Labels: none

fix
  backend/json2grpc/main.go
Labels: none

add test-json2grpc.yml
  .github/workflows/test-json2grpc.yml
Labels: ci-cd

add hallsensor-testver.ino
  hardware/plarail_detection/hallsensor-testver.ino
Labels: none

add hallsensor-testver.ino
  hardware/plarail_detection/hallsensor-testver.ino
Labels: none

add buffer
  backend/auto_operation/Connection.py
  backend/auto_operation/gRPCTestClient.py
  backend/auto_operation/grpcTestServer.py
Labels: none

change comment
  backend/json2grpc/main.go
Labels: none

fix
  backend/json2grpc/main.go
Labels: none

CIワークフローで要求されているmakefileを作成
  backend/json2grpc/Makefile
Labels: none

delete unused deployment
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-internal.yml
  .github/workflows/deploy-multicaster.yml
  .github/workflows/deploy-positioning.yml
  .github/workflows/deploy-sender.yml
  .github/workflows/deploy-testing-receiver.yml
  .github/workflows/publish-images.yml
Labels: ci-cd

restore
  backend/external/go.mod
  backend/external/go.sum
  backend/internal/go.mod
  backend/internal/go.sum
  backend/speed/go.mod
  backend/speed/go.sum
  frontend/site/package.json
  frontend/site/yarn.lock
Labels: internal, external, speed, site

refactor proxy module
  backend/json2grpc/ats.pb.go
  backend/json2grpc/go.mod
  backend/json2grpc/go.sum
  backend/json2grpc/main.go
  backend/json2grpc/pkg/proxy/proxy.go
Labels: none

fix test
  .github/workflows/test-external.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-internal.yml
  .github/workflows/test-json2grpc.yml
  .github/workflows/test-multicaster.yml
  .github/workflows/test-positioning.yml
  .github/workflows/test-sender.yml
  .github/workflows/test-speed.yml
  .github/workflows/test-testing-receiver.yml
Labels: ci-cd

fix test
  .github/workflows/code-test.yml
  .github/workflows/validate_github_workflow.yml
Labels: ci-cd

delete http error
  backend/json2grpc/pkg/proxy/proxy.go
Labels: none

とりあえずk8sマニフェストをコピーして置換
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/auto-operation/env.yaml
  manifests/manifests/auto-operation/ingressroute.yaml
  manifests/manifests/auto-operation/kustomization.yaml
  manifests/manifests/auto-operation/service.yaml
Labels: ci-cd

fix unused element
  manifests/manifests/auto-operation/deployment.yaml
Labels: ci-cd

add typings
  backend/auto_operation/Components.py
  backend/auto_operation/State.py
Labels: none

fix a typo
  backend/auto_operation/State.py
Labels: none

Calculate stop rail command (See main.py send_signal_to_browser)
  backend/auto_operation/ATO.py
  backend/auto_operation/ATS.py
  backend/auto_operation/Components.py
  backend/auto_operation/State.py
  backend/auto_operation/main.py
Labels: none

delete debug comments
  backend/auto_operation/ATO.py
  backend/auto_operation/ATS.py
  backend/auto_operation/State.py
  backend/auto_operation/main.py
Labels: none

change junction id from int to str
  backend/auto_operation/Components.py
  backend/auto_operation/PointInterlock.py
  backend/auto_operation/State.py
Labels: none

change section id from int to str
  backend/auto_operation/Components.py
  backend/auto_operation/DiaPlanner.py
  backend/auto_operation/SignalSystem.py
  backend/auto_operation/State.py
Labels: none

change station id from int to str
  backend/auto_operation/Components.py
  backend/auto_operation/DiaPlanner.py
  backend/auto_operation/State.py
Labels: none

refactor manifests
  manifests/manifests/control-internal/endpoint.yaml
  manifests/manifests/control-internal/monitor.yaml
  manifests/manifests/control-internal/service.yaml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/external/ingressroute.yaml
  manifests/manifests/external/monitor.yaml
  manifests/manifests/external/service.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/frontend/ingressroute.yaml
  manifests/manifests/frontend/service.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/positioning/ingressroute.yaml
  manifests/manifests/positioning/service.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/python-webrtc-server/ingressroute.yaml
  manifests/manifests/python-webrtc-server/service.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/receiver-test/ingressroute.yaml
  manifests/manifests/receiver-test/service.yaml
  manifests/manifests/webrtc-sender/ingressroute.yaml
Labels: ci-cd

add servers
  manifests/manifests/kustomization.yaml
Labels: ci-cd

disable monitor(because it requires GKE)
  manifests/manifests/control-internal/kustomization.yaml
  manifests/manifests/external/kustomization.yaml
  manifests/manifests/speed/kustomization.yaml
Labels: ci-cd

disable monitor(because it requires GKE) (#238)
  manifests/manifests/control-internal/kustomization.yaml
  manifests/manifests/external/kustomization.yaml
  manifests/manifests/speed/kustomization.yaml
Labels: ci-cd

fix labels
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/auto-operation/env.yaml
  manifests/manifests/auto-operation/ingressroute.yaml
  manifests/manifests/auto-operation/kustomization.yaml
  manifests/manifests/auto-operation/service.yaml
Labels: ci-cd

fix
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/auto-operation/service.yaml
Labels: ci-cd

(wip) update map state
  backend/auto_operation/Components.py
  backend/auto_operation/State.py
Labels: none

impl dockerfile
  backend/json2grpc/Dockerfile
  backend/json2grpc/main.go
Labels: none

write github actions workflow
  .github/workflows/publish-images.yml
Labels: ci-cd

use buildx for simplicity
  .github/workflows/publish-images.yml
  docker-bake.hcl
Labels: ci-cd

fix actions
  .github/workflows/publish-images.yml
Labels: ci-cd

login
  .github/workflows/publish-images.yml
Labels: ci-cd

implement logviewer and deploy
  infra/logviewer/client/client.go
  infra/logviewer/go.mod
  infra/logviewer/go.sum
  infra/logviewer/main.go
  manifests/manifests/kustomization.yaml
  manifests/manifests/logviewer/deployment.yaml
  manifests/manifests/logviewer/ingressroute.yaml
  manifests/manifests/logviewer/kustomization.yaml
  manifests/manifests/logviewer/role.yaml
  manifests/manifests/logviewer/service.yaml
Labels: ci-cd

.github/labeler.yml:

internal:
  - any:
      - backend/internal/**
      - "!backend/internal/spec/**"
external:
  - any:
      - backend/external/**
      - "!backend/external/spec/**"
positioning:
  - any:
      - "backend/positioning/**"
      - "!backend/positioning/spec/**"
speed:
  - any:
      - "backend/speed/**"
      - "!backend/speed/spec/**"
ats:
  - any:
    - "backend/ats/**"
    - "!backend/ats/spec/**"
multicaster:
  - any:
      - "backend/multicaster/**"
momo_sender:
  - any:
      - "frontend/momo_sender/**"
skyway_receiver:
  - any:
      - "frontend/skyway_receiver/**"
site:
  - any:
      - "frontend/site/**"
ci-cd:
  - .github/**/*
  - manifests/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"
