Repository ueckoken/plarail2022, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, external, positioning, speed, ats, multicaster, momo_sender, skyway_receiver, site, ci-cd, documentation

remove .DS_Store
  backend/auto_operation/.DS_Store
Labels: none

fix readme
  backend/auto_operation/README.md
Labels: none

fix directory for auto_operation
  backend/Makefile
Labels: none

fix directory for auto_operation
  .github/workflows/compile-protocol-buffer.yml
Labels: ci-cd

fix mkdir path
  .github/workflows/compile-protocol-buffer.yml
Labels: ci-cd

fix protoc-gen relative path
  backend/auto_operation/protoc-gen.sh
Labels: none

add environment variable loader
  backend/auto_operation/.dockerignore
  backend/auto_operation/.gitignore
  backend/auto_operation/Dockerfile
  backend/auto_operation/main.py
  backend/auto_operation/requirements.txt
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/json2grpc/ats.pb.go
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/auto_operation/spec/ats_pb2_grpc.py
  backend/auto_operation/spec/block_pb2_grpc.py
  backend/auto_operation/spec/speedControl_pb2_grpc.py
  backend/auto_operation/spec/statesync_pb2_grpc.py
Labels: none

fixed gen sh
  backend/auto_operation/protoc-gen.sh
Labels: none

fixed sed command
  backend/auto_operation/protoc-gen.sh
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/auto_operation/spec/ats_pb2_grpc.py
  backend/auto_operation/spec/block_pb2_grpc.py
  backend/auto_operation/spec/speedControl_pb2_grpc.py
  backend/auto_operation/spec/statesync_pb2_grpc.py
Labels: none

fix Makefile
  backend/json2grpc/ats.pb.go
Labels: none

fix Makefile
  backend/Makefile
Labels: none

fix block proto
  backend/auto_operation/gRPCTestClient.py
  backend/auto_operation/grpcTestServer.py
  backend/proto/block.proto
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/block_pb.d.ts
  backend/ats/spec/block_pb.js
  backend/auto_operation/spec/block_pb2.py
Labels: none

fix module name
  backend/json2grpc/go.mod
  backend/json2grpc/grpcserver/main.go
  backend/json2grpc/main.go
Labels: none

delete mutex in http.MethodGet
  backend/json2grpc/main.go
Labels: none

fix proto
  backend/auto_operation/gRPCTestClient.py
  backend/auto_operation/grpcTestServer.py
Labels: none

add grpc modules
  backend/auto_operation/requirements.txt
Labels: none

fix deployment workflows
  .github/workflows/deploy-external.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-internal.yml
  .github/workflows/deploy-multicaster.yml
  .github/workflows/deploy-positioning.yml
  .github/workflows/deploy-sender.yml
  .github/workflows/deploy-testing-receiver.yml
Labels: ci-cd

add auto_operation build image workflow
  .github/workflows/deploy-external.yml
Labels: ci-cd

Commit from GitHub Actions (compile_PB)
  backend/json2grpc/ats.pb.go
Labels: none

fix deployment workflows
  .github/workflows/deploy-external.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-internal.yml
  .github/workflows/deploy-multicaster.yml
  .github/workflows/deploy-positioning.yml
  .github/workflows/deploy-sender.yml
  .github/workflows/deploy-testing-receiver.yml
Labels: ci-cd

fix Makefile
  backend/Makefile
Labels: none

add auto_operation build image workflow
  .github/workflows/deploy-external.yml
Labels: ci-cd

fix module name
  backend/json2grpc/go.mod
  backend/json2grpc/grpcserver/main.go
  backend/json2grpc/main.go
Labels: none

テスト用grpcサーバーの作成
  backend/json2grpc/grpcserver/main.go
Labels: none

iroiro
  backend/json2grpc/ats.pb.go
  backend/json2grpc/go.mod
  backend/json2grpc/go.sum
  backend/json2grpc/main.go
  backend/json2grpc/readme.md
  backend/json2grpc/spec/ats.pb.go
Labels: none

delete mutex in http.MethodGet
  backend/json2grpc/main.go
Labels: none

fix Makefile
  backend/json2grpc/ats.pb.go
Labels: none

delete
  backend/Makefile
  backend/external/go.mod
  backend/external/go.sum
  backend/internal/go.mod
  backend/internal/go.sum
  backend/json2grpc/ats.pb.go
  backend/json2grpc/readme.md
  backend/speed/go.mod
  backend/speed/go.sum
Labels: internal, external, speed

delete
  backend/external/go.mod
  backend/external/go.sum
  backend/internal/go.mod
  backend/internal/go.sum
  backend/json2grpc/ats.pb.go
  backend/json2grpc/go.mod
  backend/json2grpc/go.sum
  backend/json2grpc/grpcserver/main.go
  backend/json2grpc/main.go
  backend/json2grpc/readme.md
  backend/json2grpc/spec/ats.pb.go
  backend/json2grpc/spec/ats_grpc.pb.go
  backend/speed/go.mod
  backend/speed/go.sum
Labels: internal, external, speed

revert 209
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-internal.yml
  .github/workflows/deploy-multicaster.yml
  .github/workflows/deploy-positioning.yml
  .github/workflows/deploy-sender.yml
  .github/workflows/deploy-testing-receiver.yml
  backend/Makefile
  backend/external/go.mod
  backend/external/go.sum
  backend/internal/go.mod
  backend/internal/go.sum
  backend/json2grpc/go.mod
  backend/json2grpc/go.sum
  backend/json2grpc/grpcserver/main.go
  backend/json2grpc/main.go
  backend/json2grpc/spec/ats.pb.go
  backend/json2grpc/spec/ats_grpc.pb.go
  backend/speed/go.mod
  backend/speed/go.sum
  frontend/site/package.json
  frontend/site/yarn.lock
Labels: internal, external, speed, site, ci-cd

fix connection
  backend/auto_operation/Connection.py
Labels: none

fix context fix
  .github/workflows/publish-images.yml
Labels: ci-cd

use http.Server
  backend/json2grpc/main.go
Labels: none

fixed response
  backend/auto_operation/Connection.py
  backend/auto_operation/gRPCTestClient.py
Labels: none

add timestamps on log
  backend/auto_operation/Connection.py
Labels: none

fixed proto for python
  backend/proto/statesync.proto
Labels: none

.github/labeler.yml:

internal:
  - any:
      - backend/internal/**
      - "!backend/internal/spec/**"
external:
  - any:
      - backend/external/**
      - "!backend/external/spec/**"
positioning:
  - any:
      - "backend/positioning/**"
      - "!backend/positioning/spec/**"
speed:
  - any:
      - "backend/speed/**"
      - "!backend/speed/spec/**"
ats:
  - any:
    - "backend/ats/**"
    - "!backend/ats/spec/**"
multicaster:
  - any:
      - "backend/multicaster/**"
momo_sender:
  - any:
      - "frontend/momo_sender/**"
skyway_receiver:
  - any:
      - "frontend/skyway_receiver/**"
site:
  - any:
      - "frontend/site/**"
ci-cd:
  - .github/**/*
  - manifests/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"
