Repository ueckoken/plarail2022, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, external, positioning, speed, ats, site, ci-cd, documentation

.github/labeler.yml:

internal:
  - any:
      - backend/internal/**
      - "!backend/internal/spec/**"
external:
  - any:
      - backend/external/**
      - "!backend/external/spec/**"
positioning:
  - any:
      - "backend/positioning/**"
      - "!backend/positioning/spec/**"
speed:
  - any:
      - "backend/speed/**"
      - "!backend/speed/spec/**"
ats:
  - any:
    - "backend/ats/**"
    - "!backend/ats/spec/**"
site:
  - any:
      - "frontend/site/**"
ci-cd:
  - .github/**/*
  - manifests/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"

fix tests
  backend/external/pkg/synccontroller/syncController.go
  backend/external/pkg/synccontroller/syncController_test.go
Labels: external

ghcr.io/ueckoken/plarail2022-frontend:10a02b0-1668823810
  manifests/manifests/frontend/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-frontend-python:10a02b0-1668823810
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-auto-operation:10a02b0-1668823810
  manifests/manifests/auto-operation/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-positioning:10a02b0-1668823810 ghcr.io/ueckoken/plarail2022-external:10a02b0-1668823810 ghcr.io/ueckoken/plarail2022-json2grpc:10a02b0-1668823810
  manifests/manifests/external/deployment.yaml
  manifests/manifests/internal/json2grpc/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-internal:10a02b0-1668823810
  manifests/manifests/internal/internal/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-logviewer:10a02b0-1668823810
  manifests/manifests/logviewer/deployment.yaml
Labels: ci-cd

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/ats_pb.js
  backend/ats/spec/block_pb.js
  backend/ats/spec/speedControl_pb.js
  backend/ats/spec/statesync_pb.js
Labels: none

システムアーキテクチャの図を更新
  docs/archtecture.png
Labels: none

Update README.md
  README.md
Labels: documentation

Add files via upload
  docs/archtecture.png
Labels: none
