Repository ueckoken/plarail2022, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, external, positioning, speed, ats, multicaster, momo_sender, site, ci-cd, documentation

ghcr.io/ueckoken/plarail2022-frontend-python:3eb3046-1668770474
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-receiver-test:3eb3046-1668770474
  manifests/manifests/receiver-test/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-auto-operation:3eb3046-1668770474 ghcr.io/ueckoken/plarail2022-webrtc-sender:3eb3046-1668770474
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

fix bugs
  frontend/site/components/RailRoadMap.tsx
  frontend/site/pages/index.tsx
Labels: site

ghcr.io/ueckoken/plarail2022-internal:3eb3046-1668770474 ghcr.io/ueckoken/plarail2022-json2grpc:3eb3046-1668770474
  manifests/manifests/internal/internal/deployment.yaml
  manifests/manifests/internal/json2grpc/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-positioning:3eb3046-1668770474
  manifests/manifests/positioning/deployment.yaml
Labels: ci-cd

format by prettier
  frontend/site/pages/index.tsx
Labels: site

ghcr.io/ueckoken/plarail2022-frontend:3eb3046-1668770474
  manifests/manifests/frontend/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-external:3eb3046-1668770474
  manifests/manifests/external/deployment.yaml
Labels: ci-cd

fix bug
  frontend/site/types/control-messages.ts
Labels: site

add iroiro
  backend/external/internal/root.go
  backend/external/pkg/synccontroller/syncController.go
Labels: external

ghcr.io/ueckoken/plarail2022-frontend-python:99f21a6-1668771879
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-receiver-test:99f21a6-1668771879
  manifests/manifests/receiver-test/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-auto-operation:99f21a6-1668771879 ghcr.io/ueckoken/plarail2022-webrtc-sender:99f21a6-1668771879
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-json2grpc:99f21a6-1668771879
  manifests/manifests/internal/json2grpc/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-internal:99f21a6-1668771879
  manifests/manifests/internal/internal/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-positioning:99f21a6-1668771879
  manifests/manifests/positioning/deployment.yaml
Labels: ci-cd

fix json2grpc
  backend/json2grpc/main.go
Labels: none

ghcr.io/ueckoken/plarail2022-frontend:99f21a6-1668771879
  manifests/manifests/frontend/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-logviewer:99f21a6-1668771879
  manifests/manifests/logviewer/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-frontend-python:6aa5ebb-1668772583
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-auto-operation:6aa5ebb-1668772583 ghcr.io/ueckoken/plarail2022-webrtc-sender:6aa5ebb-1668772583
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-receiver-test:6aa5ebb-1668772583
  manifests/manifests/receiver-test/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-json2grpc:6aa5ebb-1668772583
  manifests/manifests/internal/json2grpc/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-external:6aa5ebb-1668772583 ghcr.io/ueckoken/plarail2022-internal:6aa5ebb-1668772583
  manifests/manifests/external/deployment.yaml
  manifests/manifests/internal/internal/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-frontend:6aa5ebb-1668772583 ghcr.io/ueckoken/plarail2022-positioning:6aa5ebb-1668772583
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/positioning/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-logviewer:6aa5ebb-1668772583
  manifests/manifests/logviewer/deployment.yaml
Labels: ci-cd

add metrics
  backend/external/internal/root.go
Labels: external

ghcr.io/ueckoken/plarail2022-frontend-python:4b7417c-1668778975
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-receiver-test:4b7417c-1668778975
  manifests/manifests/receiver-test/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-auto-operation:4b7417c-1668778975 ghcr.io/ueckoken/plarail2022-webrtc-sender:4b7417c-1668778975
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-json2grpc:4b7417c-1668778975
  manifests/manifests/internal/json2grpc/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-internal:4b7417c-1668778975
  manifests/manifests/internal/internal/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-positioning:4b7417c-1668778975
  manifests/manifests/positioning/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-external:4b7417c-1668778975
  manifests/manifests/external/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-frontend:4b7417c-1668778975
  manifests/manifests/frontend/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-logviewer:4b7417c-1668778975
  manifests/manifests/logviewer/deployment.yaml
Labels: ci-cd

fix
  backend/external/internal/root.go
Labels: external

ghcr.io/ueckoken/plarail2022-logviewer:e398c60-1668783807
  manifests/manifests/logviewer/deployment.yaml
Labels: ci-cd

ghcr.io/ueckoken/plarail2022-frontend-python:e398c60-1668783807
  manifests/manifests/python-webrtc-server/deployment.yaml
Labels: ci-cd

.github/labeler.yml:

internal:
  - any:
      - backend/internal/**
      - "!backend/internal/spec/**"
external:
  - any:
      - backend/external/**
      - "!backend/external/spec/**"
positioning:
  - any:
      - "backend/positioning/**"
      - "!backend/positioning/spec/**"
speed:
  - any:
      - "backend/speed/**"
      - "!backend/speed/spec/**"
ats:
  - any:
    - "backend/ats/**"
    - "!backend/ats/spec/**"
multicaster:
  - any:
      - "backend/multicaster/**"
momo_sender:
  - any:
      - "frontend/momo_sender/**"
site:
  - any:
      - "frontend/site/**"
ci-cd:
  - .github/**/*
  - manifests/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"
