Repository ueckoken/plarail2022, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, external, positioning, speed, ats, multicaster, momo_sender, skyway_receiver, site, ci-cd, documentation

.github/labeler.yml:

internal:
  - any:
      - backend/internal/**
      - "!backend/internal/spec/**"
external:
  - any:
      - backend/external/**
      - "!backend/external/spec/**"
positioning:
  - any:
      - "backend/positioning/**"
      - "!backend/positioning/spec/**"
speed:
  - any:
      - "backend/speed/**"
      - "!backend/speed/spec/**"
ats:
  - any:
    - "backend/ats/**"
    - "!backend/ats/spec/**"
multicaster:
  - any:
      - "backend/multicaster/**"
momo_sender:
  - any:
      - "frontend/momo_sender/**"
skyway_receiver:
  - any:
      - "frontend/skyway_receiver/**"
site:
  - any:
      - "frontend/site/**"
ci-cd:
  - .github/**/*
  - manifests/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"

replace gotti.dev with ueckoken.club
  backend/compose.yaml
  backend/speed/README.md
  backend/speed/index.html
  docs/endpoints.md
  frontend/momo_sender/webpack.config.js
  frontend/site/components/VideoCast.tsx
  frontend/site/pages/index.tsx
  frontend/skyway_receiver/webpack.config.js
  manifests/infra/certificate/certificate.yml
  manifests/infra/certificate/clusterissuer.yml
  manifests/infra/helm/kustomization.yaml
  manifests/infra/kustomization.yaml
  manifests/infra/nginx/ingress.yaml
  manifests/infra/nginx/kustomization.yaml
  manifests/infra/oauth2-proxy/ingressroute.yaml
  manifests/infra/oauth2-proxy/oauth2.yaml
  manifests/manifests/auto-operation/ingressroute.yaml
  manifests/manifests/external/ingressroute.yaml
  manifests/manifests/frontend/ingressroute.yaml
  manifests/manifests/logviewer/ingressroute.yaml
  manifests/manifests/positioning/ingressroute.yaml
  manifests/manifests/python-webrtc-server/ingressroute.yaml
  manifests/manifests/receiver-test/ingressroute.yaml
  manifests/manifests/webrtc-sender/ingressroute.yaml
Labels: speed, momo_sender, skyway_receiver, site, ci-cd, documentation

fix
  backend/speed/README.md
  manifests/infra/certificate/certificate.yml
Labels: speed, ci-cd

fix wrong certificate namespace
  manifests/infra/certificate/certificate.yml
Labels: ci-cd

fix #244
  manifests/infra/helm/traefik/release.yaml
Labels: ci-cd

fix #244 with workaround
  manifests/infra/helm/traefik/release.yaml
  manifests/infra/traefik/redirect-to-https.yaml
Labels: ci-cd

fix version
  .github/workflows/publish-images.yml
Labels: ci-cd

write json2grpc dockerfile
  backend/json2grpc/Dockerfile
  backend/json2grpc/main.go
Labels: none

fix
  backend/json2grpc/main.go
Labels: none

add default
  backend/json2grpc/main.go
Labels: none

implement statesync handler and add some manifests
  backend/external/cmd/main.go
  backend/external/internal/grpc.go
  backend/external/internal/http.go
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/envStore/envStore.go
  backend/external/pkg/syncController/syncController.go
  docker-bake.hcl
  manifests/imageautomation/logviewer/imagepolicy.yaml
  manifests/imageautomation/logviewer/kustomization.yaml
  manifests/imageautomation/logviewer/repository.yaml
Labels: external, ci-cd

add Dockerfile
  infra/logviewer/Dockerfile
Labels: none

fix
  backend/external/internal/grpc.go
  backend/external/pkg/syncController/syncController.go
Labels: external

refactor kvs
  backend/external/cmd/main.go
  backend/external/internal/embed/stationInit.yml
  backend/external/internal/embed/stationRule.yml
  backend/external/internal/grpc.go
  backend/external/internal/http.go
  backend/external/internal/root.go
  backend/external/internal/stationinit.go
  backend/external/internal/stationsync.go
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/clientHandler/embed/index.html
  backend/external/pkg/syncController/syncController.go
  backend/external/pkg/syncController/syncController_test.go
  backend/external/pkg/syncController/validate.go
  backend/external/pkg/syncController/validate_test.go
Labels: external

add iroiro
  backend/external/internal/root.go
  backend/external/internal/stationsync.go
  backend/external/pkg/httphandler/httphandler.go
  backend/external/pkg/synccontroller/syncController.go
  backend/external/pkg/synccontroller/syncController_test.go
  backend/external/pkg/websockethandler/embed/index.html
  backend/external/pkg/websockethandler/websockethandler.go
Labels: external

fix
  backend/external/internal/root.go
  backend/external/internal/stationsync.go
  backend/external/pkg/synccontroller/syncController.go
Labels: external

fix ci
  backend/external/internal/grpc.go
  backend/external/internal/stationinit.go
  backend/external/pkg/httphandler/httphandler.go
  backend/external/pkg/synccontroller/syncController.go
  backend/external/pkg/synccontroller/syncController_test.go
  backend/external/pkg/websockethandler/websockethandler.go
Labels: external

fix tests
  backend/external/pkg/synccontroller/syncController_test.go
Labels: external

disable golangci-lint package cache to silence verbose logs
  .github/workflows/code-test.yml
Labels: ci-cd

implement block handler
  backend/Makefile
  backend/external/cmd/main.go
  backend/external/go.mod
  backend/external/go.sum
  backend/external/internal/blocksync.go
  backend/external/internal/grpc.go
  backend/external/internal/http.go
  backend/external/internal/root.go
  backend/external/internal/stationsync.go
  backend/external/pkg/httphandler/httphandler.go
  backend/external/pkg/synccontroller/syncController.go
  backend/external/pkg/websockethandler/websockethandler.go
  backend/external/spec/block.pb.go
  backend/external/spec/block_grpc.pb.go
  backend/external/spec/statesync.pb.go
  backend/external/spec/statesync_grpc.pb.go
  backend/internal/spec/statesync.pb.go
  backend/internal/spec/statesync_grpc.pb.go
  backend/positioning/spec/speedControl.pb.go
  backend/positioning/spec/speedControl_grpc.pb.go
  backend/positioning/spec/statesync.pb.go
  backend/positioning/spec/statesync_grpc.pb.go
  backend/speed/spec/speedControl.pb.go
  backend/speed/spec/speedControl_grpc.pb.go
Labels: external

Commit from GitHub Actions (compile_PB)
  backend/external/spec/block.pb.go
  backend/external/spec/block_grpc.pb.go
  backend/external/spec/statesync.pb.go
  backend/external/spec/statesync_grpc.pb.go
  backend/internal/spec/statesync.pb.go
  backend/internal/spec/statesync_grpc.pb.go
  backend/positioning/spec/speedControl.pb.go
  backend/positioning/spec/speedControl_grpc.pb.go
  backend/positioning/spec/statesync.pb.go
  backend/positioning/spec/statesync_grpc.pb.go
  backend/speed/spec/speedControl.pb.go
  backend/speed/spec/speedControl_grpc.pb.go
Labels: none

fix ci
  backend/external/internal/grpc.go
  backend/external/internal/root.go
  backend/external/pkg/synccontroller/syncController_test.go
Labels: external

fix deadlock
  backend/compose.debug.yml
  backend/external/internal/root.go
  backend/external/internal/stationsync.go
  backend/external/pkg/httphandler/httphandler.go
  backend/external/pkg/synccontroller/syncController.go
  backend/external/pkg/websockethandler/embed/index.html
Labels: external

add godoc
  backend/external/internal/blocksync.go
  backend/external/internal/grpc.go
  backend/external/pkg/httphandler/httphandler.go
  backend/external/pkg/synccontroller/syncController.go
Labels: external

fix
  backend/external/internal/grpc.go
  backend/external/internal/root.go
Labels: external

fix ci
  backend/external/internal/grpc.go
  backend/external/internal/root.go
  backend/external/pkg/synccontroller/syncController.go
  backend/external/pkg/synccontroller/syncController_test.go
Labels: external

Implement/external grpc handler (#251)
  backend/Makefile
  backend/compose.debug.yml
  backend/external/cmd/main.go
  backend/external/go.mod
  backend/external/go.sum
  backend/external/internal/blocksync.go
  backend/external/internal/embed/stationInit.yml
  backend/external/internal/embed/stationRule.yml
  backend/external/internal/grpc.go
  backend/external/internal/http.go
  backend/external/internal/root.go
  backend/external/internal/stationinit.go
  backend/external/internal/stationsync.go
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/envStore/envStore.go
  backend/external/pkg/httphandler/httphandler.go
  backend/external/pkg/syncController/syncController.go
  backend/external/pkg/syncController/syncController_test.go
  backend/external/pkg/syncController/validate.go
  backend/external/pkg/syncController/validate_test.go
  backend/external/pkg/synccontroller/syncController.go
  backend/external/pkg/synccontroller/syncController_test.go
  backend/external/pkg/websockethandler/embed/index.html
  backend/external/pkg/websockethandler/websockethandler.go
  backend/external/spec/block.pb.go
  backend/external/spec/block_grpc.pb.go
  docker-bake.hcl
  infra/logviewer/Dockerfile
  manifests/imageautomation/logviewer/imagepolicy.yaml
  manifests/imageautomation/logviewer/kustomization.yaml
  manifests/imageautomation/logviewer/repository.yaml
Labels: external, ci-cd

bake image flow
  .github/workflows/publish-images.yml
  docker-bake.hcl
Labels: ci-cd

fix flow
  .github/workflows/publish-images.yml
Labels: ci-cd

fix typo
  .github/workflows/publish-images.yml
Labels: ci-cd

edit junction, section, station names
  backend/auto_operation/State.py
Labels: none

fix map definition
  backend/auto_operation/Components.py
  backend/auto_operation/State.py
Labels: none

enhance typings
  backend/auto_operation/DiaPlanner.py
  backend/auto_operation/PointInterlock.py
  backend/auto_operation/SignalSystem.py
Labels: none

enhance typings
  backend/auto_operation/DiaPlanner.py
Labels: none

DiaPlanner.py setupに列車ごとのダイヤを記述
  backend/auto_operation/DiaPlanner.py
  backend/auto_operation/State.py
Labels: none

add trains for communication
  backend/auto_operation/Communication.py
Labels: none

fix typing
  backend/auto_operation/Communication.py
Labels: none

add train logging
  backend/auto_operation/main.py
Labels: none

add diagram image
  docs/chofusai2022-diagram.jpg
Labels: none

add ats(with commentout)
  backend/compose.debug.yml
Labels: none

fix
  backend/compose.debug.yml
Labels: none
