Repository ueckoken/plarail2022, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, external, positioning, speed, ats, multicaster, momo_sender, skyway_receiver, site, ci-cd, documentation

.github/labeler.yml:

internal:
  - any:
      - backend/internal/**
      - "!backend/internal/spec/**"
external:
  - any:
      - backend/external/**
      - "!backend/external/spec/**"
positioning:
  - any:
      - "backend/positioning/**"
      - "!backend/positioning/spec/**"
speed:
  - any:
      - "backend/speed/**"
      - "!backend/speed/spec/**"
ats:
  - any:
    - "backend/ats/**"
    - "!backend/ats/spec/**"
multicaster:
  - any:
      - "backend/multicaster/**"
momo_sender:
  - any:
      - "frontend/momo_sender/**"
skyway_receiver:
  - any:
      - "frontend/skyway_receiver/**"
site:
  - any:
      - "frontend/site/**"
ci-cd:
  - .github/**/*
  - manifests/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"

add workflow_dispatch
  .github/workflows/compile-protocol-buffer.yml
Labels: ci-cd

mkdir json2grpc/spec
  .github/workflows/compile-protocol-buffer.yml
Labels: ci-cd

Commit from GitHub Actions (compile_PB)
  backend/json2grpc/ats.pb.go
  backend/json2grpc/spec/ats_grpc.pb.go
Labels: none

iroiro
  backend/json2grpc/ats.pb.go
  backend/json2grpc/go.mod
  backend/json2grpc/go.sum
  backend/json2grpc/main.go
  backend/json2grpc/readme.md
  backend/json2grpc/spec/ats.pb.go
Labels: none

テスト用grpcサーバーの作成
  backend/json2grpc/grpcserver/main.go
Labels: none

update proto
  backend/proto/ats.proto
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/ats_pb.d.ts
  backend/ats/spec/ats_pb.js
  backend/json2grpc/ats.pb.go
Labels: none

fix grpc test
  backend/ats/src/client_test.ts
  backend/ats/src/server.ts
Labels: ats

add State
  backend/ats/src/BlockSystem.ts
Labels: ats

create connection.py
  backend/auto_operation/central_controller/Connection.py
Labels: none

add gen python
  backend/auto_operation/central_controller/Connection.py
Labels: none

add gen python
  backend/Makefile
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/auto_operation/central_controller/proto/ats_pb2.py
Labels: none

fix protoc for python
  .github/workflows/compile-protocol-buffer.yml
  backend/Makefile
  backend/auto_operation/central_controller/protoc-gen.sh
Labels: ci-cd

Commit from GitHub Actions (compile_PB)
  backend/auto_operation/central_controller/spec/ats_pb2.py
  backend/auto_operation/central_controller/spec/ats_pb2_grpc.py
  backend/auto_operation/central_controller/spec/block_pb2.py
  backend/auto_operation/central_controller/spec/block_pb2_grpc.py
  backend/auto_operation/central_controller/spec/speedControl_pb2.py
  backend/auto_operation/central_controller/spec/speedControl_pb2_grpc.py
  backend/auto_operation/central_controller/spec/statesync_pb2.py
  backend/auto_operation/central_controller/spec/statesync_pb2_grpc.py
Labels: none

create file
  .github/workflows/compile-protocol-buffer.yml
Labels: ci-cd

remove unsed one
  backend/auto_operation/central_controller/proto/ats_pb2.py
Labels: none

delete deprecated command
  .github/workflows/deploy-builtin-go.yml
  .github/workflows/format.yml
Labels: ci-cd

add automerge rule
  renovate.json
Labels: none

fix event firing condition
  .github/workflows/validate_github_workflow.yml
Labels: ci-cd

auto_operation: remove Arduino files
  backend/auto_operation/child_ship/child_ship.ino
  backend/auto_operation/child_ship_only/child_ship_only.ino
  backend/auto_operation/mother_ship/mother_ship.ino
Labels: none

auto_operation: update README.md
  backend/auto_operation/README.md
Labels: none

add connection.py
  backend/auto_operation/central_controller/Connection.py
Labels: none

fix indent
  backend/auto_operation/central_controller/protoc-gen.sh
Labels: none

fixed for module reload
  backend/auto_operation/central_controller/spec/ats_pb2_grpc.py
  backend/auto_operation/central_controller/spec/block_pb2_grpc.py
  backend/auto_operation/central_controller/spec/speedControl_pb2_grpc.py
  backend/auto_operation/central_controller/spec/statesync_pb2_grpc.py
Labels: none

update proto
  backend/proto/block.proto
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/block_grpc_pb.d.ts
  backend/ats/spec/block_grpc_pb.js
  backend/ats/spec/block_pb.d.ts
  backend/ats/spec/block_pb.js
  backend/auto_operation/central_controller/spec/ats_pb2_grpc.py
  backend/auto_operation/central_controller/spec/block_pb2.py
  backend/auto_operation/central_controller/spec/block_pb2_grpc.py
  backend/auto_operation/central_controller/spec/speedControl_pb2_grpc.py
  backend/auto_operation/central_controller/spec/statesync_pb2_grpc.py
Labels: none

fix proto
  backend/proto/block.proto
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/block_grpc_pb.d.ts
  backend/ats/spec/block_grpc_pb.js
  backend/ats/spec/block_pb.d.ts
  backend/ats/spec/block_pb.js
  backend/auto_operation/central_controller/spec/block_pb2.py
  backend/auto_operation/central_controller/spec/block_pb2_grpc.py
Labels: none

fix proto
  backend/proto/block.proto
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/block_pb.d.ts
  backend/ats/spec/block_pb.js
  backend/auto_operation/central_controller/spec/block_pb2.py
Labels: none

fix prot gen sh
  backend/auto_operation/central_controller/protoc-gen.sh
Labels: none

fix protoc sh
  backend/auto_operation/central_controller/protoc-gen.sh
Labels: none

fix sh
  backend/auto_operation/central_controller/protoc-gen.sh
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/auto_operation/central_controller/spec/ats_pb2_grpc.py
  backend/auto_operation/central_controller/spec/block_pb2_grpc.py
  backend/auto_operation/central_controller/spec/speedControl_pb2_grpc.py
  backend/auto_operation/central_controller/spec/statesync_pb2_grpc.py
Labels: none

add sample clients
  backend/auto_operation/central_controller/gRPCTestClient.py
  backend/auto_operation/central_controller/grpcTestServer.py
  backend/auto_operation/central_controller/main.py
Labels: none

pinning python libraries version
  backend/auto_operation/central_controller/requirements.txt
Labels: none

move backend/auto_operation/visualizer to debug/auto_operation_visualizer
  debug/auto_operation_visualizer/.eslintrc.json
  debug/auto_operation_visualizer/.gitignore
  debug/auto_operation_visualizer/README.md
  debug/auto_operation_visualizer/components/Platform.tsx
  debug/auto_operation_visualizer/components/Section.tsx
  debug/auto_operation_visualizer/contexts/index.ts
  debug/auto_operation_visualizer/docs/preview.png
  debug/auto_operation_visualizer/lib/signal.ts
  debug/auto_operation_visualizer/next.config.js
  debug/auto_operation_visualizer/package-lock.json
  debug/auto_operation_visualizer/package.json
  debug/auto_operation_visualizer/pages/_app.tsx
  debug/auto_operation_visualizer/pages/api/hello.ts
  debug/auto_operation_visualizer/pages/index.tsx
  debug/auto_operation_visualizer/styles/Home.module.css
  debug/auto_operation_visualizer/styles/globals.css
  debug/auto_operation_visualizer/tsconfig.json
  debug/auto_operation_visualizer/types/index.ts
Labels: none

update readme
  backend/auto_operation/README.md
Labels: none

update readme
  debug/auto_operation_visualizer/README.md
Labels: none
