Repository ueckoken/plarail2022, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, external, positioning, speed, ats, multicaster, momo_sender, skyway_receiver, site, ci-cd, documentation

.github/labeler.yml:

internal:
  - any:
      - backend/internal/**
      - "!backend/internal/spec/**"
external:
  - any:
      - backend/external/**
      - "!backend/external/spec/**"
positioning:
  - any:
      - "backend/positioning/**"
      - "!backend/positioning/spec/**"
speed:
  - any:
      - "backend/speed/**"
      - "!backend/speed/spec/**"
ats:
  - any:
    - "backend/ats/**"
    - "!backend/ats/spec/**"
multicaster:
  - any:
      - "backend/multicaster/**"
momo_sender:
  - any:
      - "frontend/momo_sender/**"
skyway_receiver:
  - any:
      - "frontend/skyway_receiver/**"
site:
  - any:
      - "frontend/site/**"
ci-cd:
  - .github/**/*
  - manifests/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"

fixed map
  docs/chofufes2022-map.jpg
  docs/chofufes2022-map.pdf
  docs/chofufes2022-map.pptx
  docs/haisenzu-final.png
  docs/map.jpg
  docs/map.md
Labels: documentation

fixed blocks name
  docs/blocks.md
Labels: documentation

update portofile
  backend/proto/ats.proto
  backend/proto/block.proto
  backend/proto/statesync.proto
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/ats/spec/ats_pb.d.ts
  backend/ats/spec/ats_pb.js
  backend/ats/spec/block_pb.d.ts
  backend/ats/spec/block_pb.js
  backend/ats/spec/statesync_pb.d.ts
  backend/ats/spec/statesync_pb.js
  backend/auto_operation/spec/ats_pb2.py
  backend/auto_operation/spec/block_pb2.py
  backend/auto_operation/spec/statesync_pb2.py
  backend/external/spec/block.pb.go
  backend/external/spec/statesync.pb.go
  backend/internal/spec/statesync.pb.go
  backend/json2grpc/spec/ats.pb.go
  backend/positioning/spec/statesync.pb.go
Labels: none

generate pyi file
  backend/auto_operation/protoc-gen.sh
Labels: none

fix ci workflow
  .github/workflows/compile-protocol-buffer.yml
Labels: ci-cd

Commit from GitHub Actions (compile_PB)
  backend/auto_operation/spec/ats_pb2.pyi
  backend/auto_operation/spec/block_pb2.pyi
  backend/auto_operation/spec/speedControl_pb2.pyi
  backend/auto_operation/spec/statesync_pb2.pyi
Labels: none

add mypy check
  .github/workflows/code-test.yml
  backend/auto_operation/Dockerfile
  backend/auto_operation/Makefile
  backend/auto_operation/requirements.dev.txt
Labels: ci-cd
