Repository ueckoken/plarail2022, pull requests merged in 2022-10, with the labels that each got.

#18 Change 2021 to 2022
  frontend/components/VideoCast.tsx
  frontend/pages/index.tsx
  manifests/infra/certificate/certificate.yml
  manifests/infra/nginx/ingress.yaml
  manifests/manifests/external/ingressroute.yaml
  manifests/manifests/frontend/ingressroute.yaml
Labels: frontend, ci-cd

#19 watch 2021 repo
  docs/endpoints.md
  manifests/flux-system/infra.yaml
  manifests/flux-system/plarail.yaml
Labels: documentation, ci-cd

#20 use new container image
  .github/workflows/build-external.yml
  .github/workflows/build-internal.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-positioning.yml
  .github/workflows/deploy-python-server.yml
  .github/workflows/deploy-sender.yml
  .github/workflows/deploy-testing-receiver.yml
  manifests/imageautomation/external/repository.yaml
  manifests/imageautomation/frontend-python/repository.yaml
  manifests/imageautomation/frontend/repository.yaml
  manifests/imageautomation/positioning/repository.yaml
  manifests/imageautomation/receiver/repository.yaml
  manifests/imageautomation/webrtc-sender/repository.yaml
Labels: ci-cd

#23 build more quickly
  .github/workflows/compile-protocol-buffer.yml
  .github/workflows/deploy-builtin-go.yml
  .github/workflows/deploy-external.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-internal.yml
  .github/workflows/deploy-positioning.yml
  .github/workflows/deploy-python-server.yml
  .github/workflows/deploy-sender.yml
  .github/workflows/deploy-testing-receiver.yml
  .github/workflows/format_frontend.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/test-external.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-internal.yml
  backend/external/internal/http.go
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/syncController/validate.go
  backend/internal/pkg/esp32healthcheck/esp32Healthcheck.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  frontend/next-env.d.ts
Labels: frontend, ci-cd, internal, external

#27 fix typo in test-frontend.yml
  .github/workflows/test-frontend.yml
Labels: ci-cd

#26 minify go application Docker image
  backend/compose.debug.yml
  backend/compose.yaml
  backend/external/Dockerfile
  backend/external/Makefile
  backend/external/docker-compose.yml
  backend/internal/Dockerfile
  backend/internal/Makefile
  backend/internal/internalMock/mock.go
  backend/internal/pkg/station2espIp/parseYaml.go
  backend/positioning/Dockerfile
  backend/positioning/internal/http.go
  backend/positioning/pkg/gormHandler/trainState_test.go
  backend/speed/Dockerfile
  backend/speed/internal/http.go
Labels: internal, external

#28 nextjsのイメージを小さくする変更
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/pages/api/hello.ts
  frontend/yarn.lock
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/frontend/service.yaml
Labels: frontend, ci-cd

#11 add typescript eslint plugin
  frontend/.eslintrc.json
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

#66 use multi-stage builds for smarter compilation
  frontend/videoCast/Dockerfile.nginx
  frontend/videoCast/Dockerfile.receiver
  frontend/videoCast/Dockerfile.sender
  frontend/videoCast/receiver.sh
  frontend/videoCast/sender.sh
Labels: frontend

#72 define npm build script
  frontend/videoCast/Dockerfile.receiver
  frontend/videoCast/Dockerfile.sender
  frontend/videoCast/package.json
Labels: frontend

#70 2022のレイアウトを追加
  docs/chofufes2021-map.pdf
  docs/chofufes2022-map.jpg
  docs/chofufes2022-map.pdf
  docs/map.md
  docs/section-where-positioning-is-possible.pdf
Labels: documentation

#64 use requirements.txt for dependency management
  frontend/videoCast/Dockerfile.python
  frontend/videoCast/requirements.txt
Labels: frontend

#78 add ci for videoCast frontend
  .github/workflows/test-frontend.yml
  .github/workflows/test-receiver-sender.yml
Labels: ci-cd

#84 pin versions in requirements.txt
  frontend/videoCast/requirements.txt
Labels: frontend

#86 uppercase constants
  frontend/videoCast/one_to_multiple_cast_skyway.py
Labels: frontend

#83 enable yarn cache
  .github/workflows/format_frontend.yml
Labels: ci-cd

#89 Update module go to 1.19
  .github/workflows/test-external.yml
  .github/workflows/test-internal.yml
  backend/builtin/speed/go.mod
  backend/external/go.mod
  backend/external/go.sum
  backend/internal/archive/go.mod
  backend/internal/go.mod
  backend/positioning/go.mod
  backend/speed/go.mod
Labels: ci-cd, internal, external

#91 deploymentブランチに対するPRを自動で生成するように
  .github/workflows/create-deploy-pr.yaml
Labels: ci-cd

#82 format by prettier on videoCast
  .github/workflows/format_frontend.yml
  frontend/videoCast/.prettierignore
  frontend/videoCast/momo_sender.html
  frontend/videoCast/package-lock.json
  frontend/videoCast/package.json
  frontend/videoCast/skyway_receiver.html
  frontend/videoCast/skyway_receiver.js
  frontend/videoCast/webpack.config.js
Labels: frontend, ci-cd

#99 webpack-cli as a dev dependency
  frontend/videoCast/package-lock.json
  frontend/videoCast/package.json
Labels: frontend

#98 pin node version in .nvmrc
  .github/workflows/format_frontend.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-receiver-sender.yml
  frontend/.nvmrc
  frontend/videoCast/.nvmrc
Labels: ci-cd

#85 format Python code by black
  .github/workflows/format_frontend.yml
  frontend/videoCast/one_to_multiple_cast_skyway.py
  frontend/videoCast/requirements-dev.txt
Labels: frontend, ci-cd

#113 quote 3.10 to be string
  .github/workflows/format_frontend.yml
Labels: ci-cd

#123 fix module name to 2022
  backend/external/cmd/main.go
  backend/external/go.mod
  backend/external/internal/http.go
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/servo/send.go
  backend/external/pkg/servo/send_test.go
  backend/external/pkg/stationNameId/map.go
  backend/external/pkg/syncController/syncController.go
  backend/external/pkg/syncController/syncController_test.go
  backend/external/pkg/syncController/validate.go
  backend/external/pkg/syncController/validate_test.go
  backend/internal/cmd/main.go
  backend/internal/go.mod
  backend/internal/internal/envStore.go
  backend/internal/internalMock/mock.go
  backend/internal/pkg/esp32healthcheck/esp32Healthcheck.go
  backend/internal/pkg/grpcMock/mock.go
  backend/internal/pkg/msg2Esp/send.go
  backend/internal/pkg/msg2Esp/send_test.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
  backend/internal/pkg/station2espIp/parseYaml.go
  backend/positioning/cmd/main.go
  backend/positioning/go.mod
  backend/positioning/internal/calculateSpeed.go
  backend/positioning/internal/handler.go
  backend/positioning/internal/http.go
  backend/positioning/pkg/gormHandler/trainState.go
  backend/positioning/pkg/positionReceiver/receiver.go
  backend/speed/cmd/main.go
  backend/speed/go.mod
  backend/speed/go.sum
  backend/speed/internal/handler.go
  backend/speed/internal/http.go
  backend/speed/pkg/readConf/speed.go
  backend/speed/pkg/sendSpeed/send.go
  backend/speed/pkg/sendSpeed/send_test.go
  backend/speed/pkg/storeSpeed/store.go
Labels: internal, external

#114 goのリンターの設定を追加
  backend/.golangci.yml
  backend/external/cmd/main.go
  backend/external/internal/http.go
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/envStore/envStore.go
  backend/external/pkg/servo/send.go
  backend/external/pkg/servo/send_test.go
  backend/external/pkg/stationNameId/map.go
  backend/external/pkg/syncController/syncController.go
  backend/external/pkg/syncController/validate.go
  backend/external/pkg/syncController/validate_test.go
  backend/internal/cmd/main.go
  backend/internal/go.sum
  backend/internal/internal/envStore.go
  backend/internal/internalMock/mock.go
  backend/internal/pkg/Send2Json/sendJson.go
  backend/internal/pkg/grpcMock/mock.go
  backend/internal/pkg/msg2Esp/send.go
  backend/internal/pkg/msg2Esp/send_test.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
  backend/internal/pkg/station2espIp/parseYaml.go
  backend/internal/pkg/station2espIp/parseYaml_test.go
  backend/positioning/cmd/main.go
  backend/positioning/internal/calculateSpeed.go
  backend/positioning/internal/handler.go
  backend/positioning/internal/http.go
  backend/positioning/pkg/gormHandler/trainState.go
  backend/positioning/pkg/positionReceiver/receiver.go
  backend/positioning/pkg/trainState/trainState.go
  backend/speed/internal/handler.go
  backend/speed/internal/http.go
  backend/speed/pkg/sendSpeed/send.go
  backend/speed/pkg/sendSpeed/send_test.go
  backend/speed/pkg/storeSpeed/store.go
  backend/speed/pkg/train2IP/store.go
Labels: internal, external

#105 bump up protoc version
  .github/workflows/compile-protocol-buffer.yml
  backend/Makefile
  backend/builtin/speed/spec/speedControl.pb.go
  backend/builtin/speed/spec/speedControl_grpc.pb.go
  backend/external/spec/statesync.pb.go
  backend/external/spec/statesync_grpc.pb.go
  backend/internal/spec/statesync.pb.go
  backend/internal/spec/statesync_grpc.pb.go
  backend/positioning/spec/speedControl.pb.go
  backend/positioning/spec/speedControl_grpc.pb.go
  backend/positioning/spec/statesync.pb.go
  backend/positioning/spec/statesync_grpc.pb.go
  backend/proto/speedControl.proto
  backend/proto/statesync.proto
  backend/speed/spec/speedControl.pb.go
  backend/speed/spec/speedControl_grpc.pb.go
Labels: ci-cd, internal, external

#130 shortcut to receive forever
  frontend/videoCast/one_to_multiple_cast_skyway.py
Labels: frontend

#138 Use 2022 image
  manifests/flux-system/flux.yaml
  manifests/flux-system/imageautomation.yaml
Labels: ci-cd

#139 shortcut to get environment variable and constantization
  frontend/videoCast/one_to_multiple_cast_skyway.py
Labels: frontend

#140 fix to handle ConnectionClosedError
  frontend/videoCast/one_to_multiple_cast_skyway.py
Labels: frontend

#150 ats用のprotobufをコンパイルできるように
  .github/workflows/compile-protocol-buffer.yml
  backend/Makefile
  backend/ats/.gitignore
  backend/ats/package.json
  backend/ats/protoc-gen.sh
  backend/ats/spec/ats_grpc_pb.d.ts
  backend/ats/spec/ats_grpc_pb.js
  backend/ats/spec/ats_pb.d.ts
  backend/ats/spec/ats_pb.js
  backend/ats/spec/speedControl_grpc_pb.d.ts
  backend/ats/spec/speedControl_grpc_pb.js
  backend/ats/spec/speedControl_pb.d.ts
  backend/ats/spec/speedControl_pb.js
  backend/ats/spec/statesync_grpc_pb.d.ts
  backend/ats/spec/statesync_grpc_pb.js
  backend/ats/spec/statesync_pb.d.ts
  backend/ats/spec/statesync_pb.js
  backend/ats/yarn.lock
  backend/proto/ats.proto
Labels: ci-cd

#151 fix typo
  .github/workflows/deploy-multicaster.yml
Labels: ci-cd

#152 pin Python version
  .github/workflows/format.yml
  backend/multicaster/.python-version
  backend/multicaster/Dockerfile
Labels: ci-cd, multicaster

#153 remove unused global variable
  backend/multicaster/one_to_multiple_cast_skyway.py
Labels: multicaster

#154 add type annotations to multicaster
  .github/workflows/test-multicaster.yml
  backend/multicaster/mypy.ini
  backend/multicaster/one_to_multiple_cast_skyway.py
  backend/multicaster/requirements-dev.txt
Labels: ci-cd, multicaster

#162 change map jpg pdf md
  docs/chofufes2022-map.jpg
  docs/chofufes2022-map.pdf
  docs/map.md
Labels: documentation

#165 use set instead of list
  backend/multicaster/one_to_multiple_cast_skyway.py
Labels: multicaster

#168 fix wrong type narrowing
  backend/multicaster/one_to_multiple_cast_skyway.py
Labels: multicaster

#167 use unprivileged nginx
  frontend/momo_sender/Dockerfile
  frontend/skyway_receiver/Dockerfile
  manifests/manifests/receiver-test/service.yaml
  manifests/manifests/webrtc-sender/service.yaml
Labels: ci-cd, momo_sender, skyway_receiver

#172 #171 Change station name and number
  backend/Makefile
  backend/ats/spec/statesync_pb.d.ts
  backend/ats/spec/statesync_pb.js
  backend/external/pkg/syncController/validate_test.go
  backend/external/spec/statesync.pb.go
  backend/internal/spec/statesync.pb.go
  backend/positioning/spec/statesync.pb.go
  backend/proto/statesync.proto
Labels: external
