Repository ueckoken/plarail2022, pull requests merged in 2022-11, with the labels that each got.

#175 rename non-intuitive names
  backend/multicaster/one_to_multiple_cast_skyway.py
Labels: multicaster

#177 marge main branch into add-ats
  backend/json2grpc/readme.md
  backend/multicaster/one_to_multiple_cast_skyway.py
Labels: multicaster

#186 GitHub ActionsのDeplicated要素の削除
  .github/workflows/deploy-builtin-go.yml
  .github/workflows/format.yml
  .github/workflows/validate_github_workflow.yml
Labels: ci-cd

#181 auto_operation用にPythonのProtobufをコンパイルできるようにした
  .github/workflows/compile-protocol-buffer.yml
  backend/Makefile
  backend/auto_operation/central_controller/Connection.py
  backend/auto_operation/central_controller/protoc-gen.sh
  backend/auto_operation/central_controller/spec/ats_pb2.py
  backend/auto_operation/central_controller/spec/ats_pb2_grpc.py
  backend/auto_operation/central_controller/spec/block_pb2.py
  backend/auto_operation/central_controller/spec/block_pb2_grpc.py
  backend/auto_operation/central_controller/spec/speedControl_pb2.py
  backend/auto_operation/central_controller/spec/speedControl_pb2_grpc.py
  backend/auto_operation/central_controller/spec/statesync_pb2.py
  backend/auto_operation/central_controller/spec/statesync_pb2_grpc.py
Labels: ci-cd

#191 auto_operation: Arduino関連の不要なファイルを削除
  backend/auto_operation/README.md
  backend/auto_operation/child_ship/child_ship.ino
  backend/auto_operation/child_ship_only/child_ship_only.ino
  backend/auto_operation/mother_ship/mother_ship.ino
Labels: ats

#212 GitHub Actionsでauto_operationの自動イメージ公開を行うように
  .github/workflows/deploy-external.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-internal.yml
  .github/workflows/deploy-multicaster.yml
  .github/workflows/deploy-positioning.yml
  .github/workflows/deploy-sender.yml
  .github/workflows/deploy-testing-receiver.yml
  backend/json2grpc/ats.pb.go
  backend/json2grpc/readme.md
  backend/json2grpc/spec/ats_grpc.pb.go
Labels: ci-cd

#215 fix context fix
  .github/workflows/publish-images.yml
Labels: ci-cd

#226 refactor json2grpc handler
  .github/workflows/code-test.yml
  .github/workflows/test-external.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-internal.yml
  .github/workflows/test-json2grpc.yml
  .github/workflows/test-multicaster.yml
  .github/workflows/test-positioning.yml
  .github/workflows/test-sender.yml
  .github/workflows/test-speed.yml
  .github/workflows/test-testing-receiver.yml
  .github/workflows/validate_github_workflow.yml
  backend/json2grpc/ats.pb.go
  backend/json2grpc/go.mod
  backend/json2grpc/go.sum
  backend/json2grpc/main.go
  backend/json2grpc/pkg/proxy/proxy.go
Labels: ci-cd

#236 refactor manifests
  manifests/manifests/control-internal/endpoint.yaml
  manifests/manifests/control-internal/monitor.yaml
  manifests/manifests/control-internal/service.yaml
  manifests/manifests/external/deployment.yaml
  manifests/manifests/external/ingressroute.yaml
  manifests/manifests/external/monitor.yaml
  manifests/manifests/external/service.yaml
  manifests/manifests/frontend/deployment.yaml
  manifests/manifests/frontend/ingressroute.yaml
  manifests/manifests/frontend/service.yaml
  manifests/manifests/positioning/deployment.yaml
  manifests/manifests/positioning/ingressroute.yaml
  manifests/manifests/positioning/service.yaml
  manifests/manifests/python-webrtc-server/deployment.yaml
  manifests/manifests/python-webrtc-server/ingressroute.yaml
  manifests/manifests/python-webrtc-server/service.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/receiver-test/ingressroute.yaml
  manifests/manifests/receiver-test/service.yaml
  manifests/manifests/webrtc-sender/ingressroute.yaml
Labels: ci-cd

#230 auto_operationをデプロイするマニフェストを書いた
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/auto-operation/ingressroute.yaml
  manifests/manifests/auto-operation/kustomization.yaml
  manifests/manifests/auto-operation/service.yaml
Labels: ci-cd

#241 implement logviewer and deploy
  infra/logviewer/client/client.go
  infra/logviewer/go.mod
  infra/logviewer/go.sum
  infra/logviewer/main.go
  manifests/manifests/kustomization.yaml
  manifests/manifests/logviewer/deployment.yaml
  manifests/manifests/logviewer/ingressroute.yaml
  manifests/manifests/logviewer/kustomization.yaml
  manifests/manifests/logviewer/role.yaml
  manifests/manifests/logviewer/service.yaml
Labels: ci-cd

#242 refactor manifests and replace gotti.dev with ueckoken.club
  backend/compose.yaml
  backend/speed/README.md
  backend/speed/index.html
  docs/endpoints.md
  frontend/momo_sender/webpack.config.js
  frontend/site/components/VideoCast.tsx
  frontend/site/pages/index.tsx
  frontend/skyway_receiver/webpack.config.js
  manifests/infra/certificate/certificate.yml
  manifests/infra/certificate/clusterissuer.yml
  manifests/infra/helm/kustomization.yaml
  manifests/infra/kustomization.yaml
  manifests/infra/nginx/ingress.yaml
  manifests/infra/nginx/kustomization.yaml
  manifests/infra/oauth2-proxy/ingressroute.yaml
  manifests/infra/oauth2-proxy/oauth2.yaml
  manifests/manifests/auto-operation/ingressroute.yaml
  manifests/manifests/external/ingressroute.yaml
  manifests/manifests/frontend/ingressroute.yaml
  manifests/manifests/logviewer/ingressroute.yaml
  manifests/manifests/positioning/ingressroute.yaml
  manifests/manifests/python-webrtc-server/ingressroute.yaml
  manifests/manifests/receiver-test/ingressroute.yaml
  manifests/manifests/webrtc-sender/ingressroute.yaml
Labels: documentation, ci-cd, speed, momo_sender, skyway_receiver, site

#243 fix wrong certificate namespace
  manifests/infra/certificate/certificate.yml
Labels: ci-cd

#245 fix #244
  manifests/infra/helm/traefik/release.yaml
Labels: ci-cd

#249 fix #244 with workaround
  manifests/infra/helm/traefik/release.yaml
  manifests/infra/traefik/redirect-to-https.yaml
Labels: ci-cd

#240 use buildx for simplicity
  .github/workflows/publish-images.yml
  docker-bake.hcl
Labels: ci-cd

#253 disable golangci-lint package cache to silence verbose logs
  .github/workflows/code-test.yml
Labels: ci-cd

#251 Implement/external grpc handler
  backend/Makefile
  backend/compose.debug.yml
  backend/external/cmd/main.go
  backend/external/go.mod
  backend/external/go.sum
  backend/external/internal/blocksync.go
  backend/external/internal/embed/stationInit.yml
  backend/external/internal/embed/stationRule.yml
  backend/external/internal/grpc.go
  backend/external/internal/http.go
  backend/external/internal/root.go
  backend/external/internal/stationinit.go
  backend/external/internal/stationsync.go
  backend/external/pkg/clientHandler/clientHandler.go
  backend/external/pkg/envStore/envStore.go
  backend/external/pkg/httphandler/httphandler.go
  backend/external/pkg/syncController/syncController.go
  backend/external/pkg/syncController/syncController_test.go
  backend/external/pkg/syncController/validate.go
  backend/external/pkg/syncController/validate_test.go
  backend/external/pkg/synccontroller/syncController.go
  backend/external/pkg/synccontroller/syncController_test.go
  backend/external/pkg/websockethandler/embed/index.html
  backend/external/pkg/websockethandler/websockethandler.go
  backend/external/spec/block.pb.go
  backend/external/spec/block_grpc.pb.go
  docker-bake.hcl
  infra/logviewer/Dockerfile
  manifests/imageautomation/logviewer/imagepolicy.yaml
  manifests/imageautomation/logviewer/kustomization.yaml
  manifests/imageautomation/logviewer/repository.yaml
Labels: ci-cd, external

#255 json2grpcのコンテナイメージをビルドするフローを作成
  .github/workflows/publish-images.yml
  docker-bake.hcl
Labels: ci-cd

#263 auto_operation にprotobuf の型ファイルを導入
  .github/workflows/code-test.yml
  .github/workflows/compile-protocol-buffer.yml
  .github/workflows/format.yml
  backend/auto_operation/.python-version
  backend/auto_operation/ATO.py
  backend/auto_operation/ATS.py
  backend/auto_operation/Communication.py
  backend/auto_operation/Components.py
  backend/auto_operation/Connection.py
  backend/auto_operation/DiaPlanner.py
  backend/auto_operation/Makefile
  backend/auto_operation/Operation.py
  backend/auto_operation/PointInterlock.py
  backend/auto_operation/PointSwitcher.py
  backend/auto_operation/SignalSystem.py
  backend/auto_operation/State.py
  backend/auto_operation/gRPCTestClient.py
  backend/auto_operation/grpcTestServer.py
  backend/auto_operation/main.py
  backend/auto_operation/protoc-gen.sh
  backend/auto_operation/requirements.dev.txt
  backend/auto_operation/requirements.txt
  backend/auto_operation/spec/ats_pb2.pyi
  backend/auto_operation/spec/block_pb2.pyi
  backend/auto_operation/spec/speedControl_pb2.pyi
  backend/auto_operation/spec/statesync_pb2.pyi
Labels: ci-cd

#262 auto_operationに対応した配線図とprotofileに更新
  backend/ats/spec/ats_pb.d.ts
  backend/ats/spec/ats_pb.js
  backend/ats/spec/block_pb.d.ts
  backend/ats/spec/block_pb.js
  backend/ats/spec/statesync_pb.d.ts
  backend/ats/spec/statesync_pb.js
  backend/auto_operation/spec/ats_pb2.py
  backend/auto_operation/spec/block_pb2.py
  backend/auto_operation/spec/statesync_pb2.py
  backend/external/spec/block.pb.go
  backend/external/spec/statesync.pb.go
  backend/internal/spec/statesync.pb.go
  backend/json2grpc/spec/ats.pb.go
  backend/positioning/spec/statesync.pb.go
  backend/proto/ats.proto
  backend/proto/block.proto
  backend/proto/statesync.proto
  docs/blocks.md
  docs/chofufes2022-map.jpg
  docs/chofufes2022-map.pdf
  docs/chofufes2022-map.pptx
  docs/haisenzu-final.png
  docs/map.jpg
  docs/map.md
Labels: documentation

#239 auto_operationの配線図とダイヤを更新
  backend/auto_operation/Communication.py
  backend/auto_operation/Components.py
  backend/auto_operation/DiaPlanner.py
  backend/auto_operation/PointInterlock.py
  backend/auto_operation/PointSwitcher.py
  backend/auto_operation/SignalSystem.py
  backend/auto_operation/State.py
  backend/auto_operation/main.py
  backend/auto_operation/spec/ats_pb2.pyi
  backend/auto_operation/spec/block_pb2.pyi
  backend/auto_operation/spec/statesync_pb2.pyi
  docs/chofusai2022-diagram.jpg
Labels: enhancement, backend

#279 DiaPlanner.pyを復元
  backend/auto_operation/DiaPlanner.py
Labels: bug, backend, ats

#289 only flake8 check
  .github/workflows/code-test.yml
  backend/auto_operation/ATO.py
  backend/auto_operation/ATS.py
  backend/auto_operation/Communication.py
  backend/auto_operation/Connection.py
  backend/auto_operation/DiaPlanner.py
  backend/auto_operation/Operation.py
  backend/auto_operation/PointInterlock.py
  backend/auto_operation/PointSwitcher.py
  backend/auto_operation/SignalSystem.py
  backend/auto_operation/State.py
  backend/auto_operation/gRPCTestClient.py
  backend/auto_operation/grpcTestServer.py
  backend/auto_operation/main.py
Labels: ci-cd

#287 fix glowing cache
  .github/workflows/publish-images.yml
Labels: ci-cd

#284 refactor protobuf
  backend/ats/spec/block_grpc_pb.d.ts
  backend/ats/spec/block_grpc_pb.js
  backend/ats/spec/block_pb.d.ts
  backend/ats/spec/block_pb.js
  backend/ats/spec/statesync_grpc_pb.d.ts
  backend/ats/spec/statesync_grpc_pb.js
  backend/ats/spec/statesync_pb.d.ts
  backend/ats/spec/statesync_pb.js
  backend/auto_operation/spec/block_pb2.py
  backend/auto_operation/spec/block_pb2.pyi
  backend/auto_operation/spec/block_pb2_grpc.py
  backend/auto_operation/spec/statesync_pb2.py
  backend/auto_operation/spec/statesync_pb2.pyi
  backend/auto_operation/spec/statesync_pb2_grpc.py
  backend/external/cmd/main.go
  backend/external/go.mod
  backend/external/internal/blocksync.go
  backend/external/internal/grpc.go
  backend/external/internal/root.go
  backend/external/internal/stationsync.go
  backend/external/pkg/httphandler/httphandler.go
  backend/external/pkg/servo/send.go
  backend/external/pkg/servo/send_test.go
  backend/external/pkg/stationNameId/map.go
  backend/external/pkg/synccontroller/syncController_test.go
  backend/external/spec/block.pb.go
  backend/external/spec/block_grpc.pb.go
  backend/external/spec/statesync.pb.go
  backend/external/spec/statesync_grpc.pb.go
  backend/internal/cmd/main.go
  backend/internal/go.mod
  backend/internal/internalMock/mock.go
  backend/internal/pkg/esp32healthcheck/esp32Healthcheck.go
  backend/internal/pkg/msg2Esp/send.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal.go
  backend/internal/pkg/serveGrpc/ServeCommand2Internal_test.go
  backend/internal/pkg/serveGrpc/serveGrpc.go
  backend/internal/pkg/station2espIp/parseYaml.go
  backend/internal/spec/statesync.pb.go
  backend/internal/spec/statesync_grpc.pb.go
  backend/positioning/spec/statesync.pb.go
  backend/positioning/spec/statesync_grpc.pb.go
  backend/proto/block.proto
  backend/proto/statesync.proto
  manifests/manifests/logviewer/deployment.yaml
Labels: ci-cd, internal, external

#278 auto_operationでgRPCを使う
  backend/auto_operation/ATO.py
  backend/auto_operation/ATS.py
  backend/auto_operation/Communication.py
  backend/auto_operation/Components.py
  backend/auto_operation/Connection.py
  backend/auto_operation/State.py
  backend/auto_operation/main.py
  backend/compose.debug.yml
Labels: enhancement, backend

#294 run internalserver on k8s
  manifests/manifests/external/env.yaml
  manifests/manifests/internal/deployment.yaml
  manifests/manifests/internal/service.yaml
  manifests/manifests/kustomization.yaml
Labels: ci-cd

#285 Add camere sender
  docker-bake.hcl
  frontend/camera_sender/.gitignore
  frontend/camera_sender/.prettierignore
  frontend/camera_sender/Dockerfile
  frontend/camera_sender/index.html
  frontend/camera_sender/index.js
  frontend/camera_sender/package-lock.json
  frontend/camera_sender/package.json
  frontend/camera_sender/sender.html
  frontend/camera_sender/sender.js
  frontend/camera_sender/webpack.config.js
  frontend/camera_server/receiver.html
  frontend/camera_server/sender.html
  frontend/camera_server/test.html
  frontend/site/components/VideoCast.tsx
  manifests/manifests/frontend-camera-sender/deployment.yaml
  manifests/manifests/frontend-camera-sender/ingressroute.yaml
  manifests/manifests/frontend-camera-sender/kustomization.yaml
  manifests/manifests/frontend-camera-sender/service.yaml
  manifests/manifests/kustomization.yaml
Labels: ci-cd, site

#295 add internal kustomize
  manifests/manifests/internal/kustomization.yaml
Labels: ci-cd

#297 fix gitrepo name for image update automation
  manifests/imageautomation/automation.yaml
Labels: ci-cd

#301 Implement external to internal command sending
  backend/external/internal/grpc.go
  backend/external/internal/root.go
  infra/logviewer/main.go
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/auto-operation/service.yaml
  manifests/manifests/external/env.yaml
Labels: ci-cd, external

#307 Bugfix/deploy logviewer with flux
  manifests/imageautomation/auto-operation/imagepolicy.yaml
  manifests/imageautomation/auto-operation/kustomization.yaml
  manifests/imageautomation/auto-operation/repository.yaml
  manifests/imageautomation/kustomization.yaml
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/logviewer/deployment.yaml
Labels: ci-cd

#309 fix
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/auto-operation/service.yaml
  manifests/manifests/external/env.yaml
Labels: ci-cd

#310 use NodePort to ClusterIP Internal
  manifests/manifests/internal/service.yaml
Labels: ci-cd

#311 fix
  backend/external/pkg/websockethandler/embed/index.html
  backend/external/pkg/websockethandler/websockethandler.go
Labels: external

#312 internal image automation
  manifests/imageautomation/internal/imagepolicy.yaml
  manifests/imageautomation/internal/kustomization.yaml
  manifests/imageautomation/internal/repository.yaml
  manifests/imageautomation/kustomization.yaml
  manifests/manifests/internal/deployment.yaml
Labels: ci-cd

#315 fix external not working
  backend/external/internal/embed/stationInit.yml
  backend/external/internal/root.go
  backend/external/internal/stationsync.go
  backend/external/pkg/synccontroller/syncController.go
Labels: external

#319 add blockstate websocket server
  backend/external/internal/root.go
  backend/external/pkg/envStore/envStore.go
  backend/external/pkg/httphandler/httphandler.go
Labels: external

#324 fix manifests
  manifests/manifests/frontend-camera-sender/deployment.yaml
Labels: ci-cd

#329 fix skyWayPeer race condition
  frontend/site/components/VideoCast.tsx
Labels: site

#337 frontendに認証追加
  manifests/infra/traefik/ipwhitelist.yaml
  manifests/infra/traefik/oauth2-proxy-verify.yaml
  manifests/manifests/frontend/ingressroute.yaml
Labels: ci-cd

#341 json2grpc deployment
  manifests/imageautomation/json2grpc/imagepolicy.yaml
  manifests/imageautomation/json2grpc/kustomization.yaml
  manifests/imageautomation/json2grpc/repository.yaml
  manifests/imageautomation/kustomization.yaml
  manifests/manifests/json2grpc/deployment.yaml
  manifests/manifests/json2grpc/ingressroute.yaml
  manifests/manifests/json2grpc/kustomization.yaml
  manifests/manifests/json2grpc/service.yaml
  manifests/manifests/kustomization.yaml
Labels: ci-cd

#342 fix manifests json2grpc
  backend/external/internal/grpc.go
  backend/external/internal/root.go
  backend/external/pkg/envStore/envStore.go
  manifests/manifests/internal/internal/deployment.yaml
  manifests/manifests/internal/internal/kustomization.yaml
  manifests/manifests/internal/internal/service.yaml
  manifests/manifests/internal/json2grpc/deployment.yaml
  manifests/manifests/internal/json2grpc/kustomization.yaml
  manifests/manifests/internal/json2grpc/service.yaml
  manifests/manifests/internal/kustomization.yaml
  manifests/manifests/json2grpc/ingressroute.yaml
  manifests/manifests/kustomization.yaml
Labels: ci-cd, external

#344 use k3s service lb
  manifests/manifests/internal/internal/service.yaml
  manifests/manifests/internal/json2grpc/service.yaml
Labels: ci-cd

#345 fix grpc endpoint
  manifests/manifests/internal/json2grpc/deployment.yaml
Labels: ci-cd

#347 add auto operation manifests
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/auto-operation/ingressroute.yaml
  manifests/manifests/auto-operation/service.yaml
Labels: ci-cd

#352 change traefik log level
  manifests/infra/helm/traefik/release.yaml
Labels: ci-cd

#353 enable ingress nginx
  manifests/infra/helm/kustomization.yaml
  manifests/manifests/auto-operation/ingress.yaml
  manifests/manifests/auto-operation/kustomization.yaml
Labels: ci-cd

#356 nginx ingress terminated
  backend/auto_operation/gRPCTestClient.py
  manifests/manifests/auto-operation/ingress.yaml
Labels: ci-cd

#358 retrieve certificate
  manifests/manifests/auto-operation/ingress.yaml
Labels: ci-cd

#363 fix external target service
  manifests/manifests/auto-operation/deployment.yaml
  manifests/manifests/external/service.yaml
Labels: ci-cd

#327 Implemented stoprails
  backend/internal/pkg/station2espIp/embed/station2espIp.yml
Labels: internal

#367 fix internal endpoint
  manifests/manifests/external/env.yaml
Labels: ci-cd

#369 fix internal
  manifests/manifests/external/env.yaml
Labels: ci-cd

#371 delete buffer(may be deadlock)
  backend/external/internal/root.go
  backend/external/pkg/httphandler/httphandler.go
Labels: external

#374 fix bug
  frontend/site/types/control-messages.ts
Labels: site

#375 delete buffer may be deadlock
  backend/external/internal/root.go
  backend/external/pkg/synccontroller/syncController.go
Labels: external

#378 add metrics
  backend/external/internal/root.go
Labels: external

#384 add pprof
  backend/external/internal/root.go
Labels: external

#336 destroy momo_sender
  .github/labeler.yml
  .github/workflows/code-test.yml
  .github/workflows/format.yml
  docker-bake.hcl
  docs/endpoints.md
  frontend/momo_sender/.gitignore
  frontend/momo_sender/.nvmrc
  frontend/momo_sender/.prettierignore
  frontend/momo_sender/Dockerfile
  frontend/momo_sender/index.html
  frontend/momo_sender/index.js
  frontend/momo_sender/package-lock.json
  frontend/momo_sender/package.json
  frontend/momo_sender/webpack.config.js
  manifests/imageautomation/kustomization.yaml
  manifests/imageautomation/webrtc-sender/imagepolicy.yaml
  manifests/imageautomation/webrtc-sender/kustomization.yaml
  manifests/imageautomation/webrtc-sender/repository.yaml
  manifests/manifests/kustomization.yaml
  manifests/manifests/webrtc-sender/deployment.yaml
  manifests/manifests/webrtc-sender/ingressroute.yaml
  manifests/manifests/webrtc-sender/kustomization.yaml
  manifests/manifests/webrtc-sender/service.yaml
Labels: documentation, ci-cd

#335 destroy skyway_receiver
  .github/labeler.yml
  .github/workflows/code-test.yml
  .github/workflows/format.yml
  docker-bake.hcl
  docs/endpoints.md
  frontend/skyway_receiver/.gitignore
  frontend/skyway_receiver/.nvmrc
  frontend/skyway_receiver/.prettierignore
  frontend/skyway_receiver/Dockerfile
  frontend/skyway_receiver/index.html
  frontend/skyway_receiver/index.js
  frontend/skyway_receiver/package-lock.json
  frontend/skyway_receiver/package.json
  frontend/skyway_receiver/webpack.config.js
  manifests/imageautomation/kustomization.yaml
  manifests/imageautomation/receiver/imagepolicy.yaml
  manifests/imageautomation/receiver/kustomization.yaml
  manifests/imageautomation/receiver/repository.yaml
  manifests/manifests/kustomization.yaml
  manifests/manifests/receiver-test/deployment.yaml
  manifests/manifests/receiver-test/ingressroute.yaml
  manifests/manifests/receiver-test/kustomization.yaml
  manifests/manifests/receiver-test/service.yaml
Labels: documentation, ci-cd

#389 do not send syncing info if it is not changed
  backend/external/pkg/synccontroller/syncController.go
  backend/external/pkg/synccontroller/syncController_test.go
Labels: external
